<!DOCTYPE html>
<html>
    <body>
        <div id="angular_app_1">
            <p ng-controller="myAppCtrl">
                {{text}}
            </p>
        </div>

        <p>Legacy code here! {{text}}</p>

        <div id="angular_app_2">
            <p ng-controller="myOtherAppCtrl">
                {{text}}
            </p>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <!-- bootstrap the angular applications manually -->
        <script type="text/javascript">
            angular.module('myApp', []);
            angular.module('myOtherApp', []);

            angular.module('myApp')
                    .controller('myAppCtrl', ['$rootScope', function($rootScope) {
                        $rootScope.text = "Jeg er en selvstendig app som heter myApp"
                    }]);

            angular.module('myOtherApp')
                    .controller('myOtherAppCtrl', ['$rootScope', function($rootScope) {
                        $rootScope.text = "Jeg er også en selvstendig app som heter myOtherApp"
                    }]);

            angular.bootstrap(document.getElementById("angular_app_1"), ["myApp"]);
            angular.bootstrap(document.getElementById("angular_app_2"), ["myOtherApp"]);
        </script>
    </body>
</html>
