<html ng-app="myApp">
    <body>
        <input type="number" ng-model="value1"> + <input type="number" ng-model="value2"> = {{value1 + value2}}
        <script src="bower_components/angular/angular.js"></script>
        <script type="text/javascript">
            angular.module('myApp', []);
        </script>
    </body>
</html>
