<h2>Oppgave 1 - Legg til kall mot backend</h2>
<p>
    <ul>
        <li>Bytt ut local storage i todoStorage.js med kall mot backend</li>
        <li>Bruk AngularJS sin $http til å utføre kall</li>
        <li>Backend fungerer på samme måte som local storage her. Det du sender til PUT er det du får igjen fra GET</li>
        <li>GET /todos - henter alle lagrede todos</li>
        <li>PUT /todos - lagrer alle innsendte todos (todos må ligger i body som json {"todos": todos})</li>
    </ul>
</p>

<h2>Oppgave 2 - Legg til prioritet på todos</h2>
<p>
    <ul>
        <li>Prioriterte todos skal ha en annen bakgrunnsfarge og ha fet skrift</li>
        <li>Det skal være mulig å trykke på et ikon/knapp på raden til en eksisterende todo for å gi den prioritet.</li>
        <li>Prioriterte todos skal ligge øverst i listen</li>
        <li>Hint: Legg til en boolsk property på et "todo-objekt" som styrer prioritet</li>
        <li>Hint: Bruk Angular sitt filter orderBy til å sortere listen</li>
    </ul>
    <img width="550px" src="view1/oppgave2.png"/>
</p>

<h2>Oppgave 3 - Lag svaksyntmodus (lær filter)</h2>
<p>
    <ul>
        <li>All todos skal være i uppercase når modus er slått på</li>
        <li>Det skal være mulig å slå av/på modusen med et ikon/knapp</li>
        <li>Hint: Lag et custom filter som transformerer teksten hvis visibilityMode er på/av</li>
    </ul>
    <img width="550px" src="view1/oppgave3.png"/>
</p>

<h2>Oppgave 4 - Vis antall prioriterte todos (lær directive)</h2>
<p>
    <ul>
        <li>Lag et directive som kan plasseres hvor som helst på siden og viser antall proriterte todos</li>
        <li>Hint: Directivet bør ha et isolert scope</li>
        <li>Hint: Directivet bør kunne brukes direkte som et html-element</li>
        <li>Hint: Directivet kan ta inn todos-listen som et parameter</li>
    </ul>
    <img width="550px" src="view1/oppgave4.png"/>
</p>



